/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: 100vh;
  font-family: 'Poppins', sans-serif;
  
}
.hydrogen {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  /* margin-top: 100px; */
  /* background-color: #1d1b31; */
  border-radius: 0.5;
  position: absolute;
  top: 10rem;
  left: 8rem;
}

.hydrogen .wrapper {
  display: inline-flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 3.7rem;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
 overflow: hidden;
  
}
.dynamic-txts li{
  color: #fc6d6d;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 4.8s steps(4) infinite;

}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #23242a;
  border-left: 2px solid #fc6d6d;
  animation: typing 1.2s steps(10) infinite;
}
@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;

  }
}
body {
  min-height: 100vh;
  background-color: #23242a;
  margin: 0px;
  
  height: 100vh;
  display: grid;
  place-items: center;    
  z-index: 4;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.flourine {
  margin: 0px;
  
  height: 100vh;
  display: flex;
  justify-content: space-around;
  place-items: center;
  z-index: 4;
  position: absolute;
}

.card-group,
.card {
    aspect-ratio: 7/7;
    z-index: 5;
    margin-top: 110px;
    margin-left: 220px;
    
}
.card-group,
.big-card {
    width: 30vmin;
    z-index: 6;
    margin-top: 72px;
    margin-left: 150px;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    z-index: 7;
    transition: transform 1000ms cubic-bezier(.05,.43,.25,.95);
}

.big-card {
    width: 30vmin;
    border-radius: 1vmin;
    z-index: 8;
}

.little-card {
    width: 12vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    transition: transform 1010ms;
}

.big-card:nth-child(2) {
  background-image: url("https://source.unsplash.com/random/?cars");
  transform: translateX(-10%) rotate(-1deg);
}
.big-card:nth-child(4) {
  background-image: url("https://source.unsplash.com/random/?cars");
    transform: rotate(2deg);
}
.big-card:nth-child(6) {
  background-image: url("https://source.unsplash.com/random/?cars");
    transform: translateX(-6%) rotate(-3deg);

}
.big-card:nth-child(8) {
  background-image: url("https://uploads.sololearn.com/uploads/courses/1073.png");
  
  transform: translateX(10%, 3%) rotate(5deg);
}

.big-card:nth-child(1) {
  background-image: url("https://source.unsplash.com/random/?cars");
  transform: translateX(-10%) rotate(-1deg);
}
.big-card:nth-child(3) {
  background-image: url("https://source.unsplash.com/random/?cars");
  transform: rotate(2deg);
}
.big-card:nth-child(5) {
  background-image: url("https://source.unsplash.com/random/?cars");
  transform: translateX(-6%) rotate(-3deg);

}
.big-card:nth-child(7) {
  background-image: url("https://source.unsplash.com/random/?bike");
  transform: translateX(10%, 3%) rotate(5deg);
}
.card-group:hover > .big-card:nth-child(2) { 
  transform: translate(-75%, 16%) rotate(-24deg);
}
.card-group:hover > .big-card:nth-child(4) { 
    transform: translate(-25%, 8%) rotate(-8deg);
}
.card-group:hover > .big-card:nth-child(6) { 
    transform: translate(25%, 8%) rotate(8deg);
}
.card-group:hover > .big-card:nth-child(8) { 
    transform: translate(75%, 16%) rotate(24deg);
}


.card-group:hover > .little-card:nth-child(1) {
  
    transform: translate(200%, -160%) rotate(-15deg);
}
.card-group:hover > .little-card:nth-child(3) {
  
    transform: translate(200%, 170%) rotate(15deg);
}
.card-group:hover > .little-card:nth-child(5) {
  
    transform: translate(-200%, -170%) rotate(15deg);
}
.card-group:hover > .little-card:nth-child(7) {
  
    transform: translate(-280%, 140%) rotate(-15deg);
}

/* .bubbles {
  position: relative;
  display: flex;
  z-index: 1;

}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50px;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
} 
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate {
  0%{
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
*/
.sidebar{
  background: rgba(28, 28, 38, 0.7);
  color: #fff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  
  
  z-index: 100;
  transition: all 0.5s ease;
}
/* .sidebar.close{
  width: 78px;
} */
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
} 
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: flex;
  border-radius: 1vmin;
  
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}

.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar .profile-details .profile-content{
  display: flex;
  align-items: baseline;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar .profile-details .job{
  font-size: 10px;
}
.home-section{
  position: relative;
  background: #23242a;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: -1;
  
}


/* yaha se bg animation suru

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;

}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50px;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;



}
 */



.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #fff;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 5rem;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
/* @media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  
  
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: -2;
  }
  
} */

